.user-detail {
  display: grid;
  width: 80vw;
  margin: 10vh auto 0;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1vw;
}

.user-detail-label {
  color: #007bff;
}

.user-detail-info {
  display: grid;
  margin: 1vw;
  font-family: Roboto, sans-serif;
}
.user-detail-avatar{
  -webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;
}
